body{
    background-image: url('../css/style/');
    background: red;
    color: whitesmoke;
   font-family: 'Do Hyeon', sans-serif;
    margin: 0;
}
header{
    text-align: center;
    font-size: 72px;
    font-family: 'Tangerine', cursive;
}
img{
    width: 30%;
}
youtube{
    
    height: 500px;
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
}
.center_content img{
    height: 72px;

}
h3{
    font-size: 35px; 
}
.container {
    display: flex;
    justify-content: space-between;
    border: solid green;
    padding: 20px;

  }

 .box{
     width: 7%;
     height: 7%
 } 